@model WebClinica.Models.PetModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Quer realmente excluir o agendamento?</h3>
<div>
    <h4>PetModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneDono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneDono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RacaPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RacaPet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
